body {
  font-family: 'Caveat', cursive;
  font-size: 1.15rem;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: 'Permanent Marker', cursive;
}

nav a {
  font-family: 'Caveat', cursive;
  font-weight: 700;
}
